/** manage display and organization of web survey **/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:500');

body{
    background: linear-gradient(180deg, rgb(255, 179, 226), #FFDDF2) fixed;
    font-family: 'Noto Serif TC', serif;
}

#title {
    text-align:center;
}

#form-container {
    width: 55%;
    margin: 0 auto;
    padding: 2%;
    background: #eff1ff;
    border-radius: 15px;
    min-width:380px;
}

#description {
    text-align:center;
    padding-bottom: 20px;
}

.left {
    display: inline-block; /** needed to align labels on the left and input on the right **/
    text-align:right;
    width: 30%;
    padding: 10px;
    vertical-align: middle;
}

.right {
    display: inline-block; /** needed to align labels on the left and input on the right **/
    width: 45%;
    text-align:left;
    vertical-align: middle;
}

/** center each row in the form container **/
.row {
    text-align:center;
}

/** checkbox css prevents labels from wrapping underneath checkbox **/
input[type="checkbox"] {
    position:absolute;
}

label[for="checkbox"] {
    display:inline-block;
    padding-left: 1.5rem;
}

/** setting the width and height of the text input**/
#name, #email, #uwID, #year, #dropdown{
    width: 220px;
    height: 20px;
    border-radius: 0.3rem;
    border: 1px solid #cdcdcd;
}

/** add glowing border to specified input boxes**/
#name:focus, #email:focus, #uwID:focus, #year:focus, #dropdown:focus, #comments:focus {
    border: none;
    box-shadow: 0 0 10px rgb(81, 188, 224);
}

/** placeholder text too close to left side of input box **/
#name, #email, #uwID, #year, #comments {
    text-indent: 5px;
}

/** make placeholder text less apparent with lighter colour **/
#name::placeholder, #email::placeholder, #uwID::placeholder, #year::placeholder, #comments::placeholder {
    color: #B0BEC5;
}

/** hide spin button for number input fields **/
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.no-bullets {
    list-style-type: none;
}

/** add required star to labels that describe required fields **/
label[for="name-label"]::before, label[for="email-label"]::before, label[for="uwID-label"]::before, label[for="dropdown"]::before, label[for="attendance"]::before, label[for="services"]::before {
    content: "* ";
    color: red;
}

/** separate left and right positioning and styling for text area **/
label[for="comments"] {
    display:inline-block;
    width: 45%;
    text-align:right;
    vertical-align: top;
}

#comments {
    display:inline-block;
    width: 45%;
    height: 150px;
    margin-left: 20px;
    resize: none;
    border-radius: 0.3rem;
    border: 1px solid #cdcdcd;
}

button {
    display:block;
    margin: 30px auto;
    border-radius: 5px;
    border: 2px solid rgb(81, 188, 224);
    background:rgb(127, 213, 235);
    width: 100px;
    height: 50px;
    color: black;
    font-size: 1em;
    font-weight: 700;
    text-shadow: 0px 0px 1px #FFF, 
                 0px -1px 0px #FFF,
                 1px 0px 0px #FFF,
                 0px 1px 0px #FFF,
                 -1px 0px 0px #FFF;
}

button:hover {
    background: rgb(171, 222, 235);
}

@media screen and (max-width: 728px) {
    label[for="services"] {
        text-align:center;
        width: 100px;
    }
    
    label[for="comments"] {
        text-align:center;
        width: 200px;
        margin-bottom: 1rem;
    }

    #comments {
        width: 300px;
        margin: 0;
    }
}